.container {
  width: 375px;
  height: 820px;
  margin-left: auto;
  margin-right: auto;
  @include centered-flex();
  background-image: url(../assets/images/mob-bgi.jpg);

  @include mq(desk) {
    width: 1440px;
    height: 900px;
    background-image: url(../assets/images/desk-bgi.jpg);
  }
}
